footer
{
    width: 100vw;
    max-width: 100%;
    height: 250px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
}

.footer-container
{
    width: 1200px;
    height: 100%;
    display: grid;
    grid-template-areas: ". area1 area1 ."
                         ". area2 area3 .";
    grid-template-rows: 100px 150px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.copyright, .contact, .tmdb
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: bold;
}

.copyright
{
    grid-area: area1;
}

.contact
{
    grid-area: area3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact h1
{
    font-size: 1.4rem;
    font-weight: bold;
}

.contact-icons
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contact-icons > *
{
    font-size: 2rem;
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
    transition: all .3s;
}

.contact-icons > *:hover
{
    color: var(--accent-color);
}

.tmdb
{
    grid-area: area2;
    flex-direction: column;
    gap: 15px;
}

.tmdb img
{
    width: 200px;
}

/* Mobile */
@media screen and (max-width: 900px) 
{
    footer
    {
        width: 100vw;
        height: 250px;
        background-color: var(--bg-color);
        display: flex;
        justify-content: center;
    }
    
    .footer-container
    {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: "area1 area1"
                             "area2 area3";
        grid-template-rows: 100px 125px;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }
    
    .copyright, .contact, .tmdb
    {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text-color);
        font-size: 1.1rem;
        font-weight: bold;
        text-align: center;
    }
    
    .copyright
    {
        grid-area: area1;
    }
    
    .contact
    {
        grid-area: area3;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .contact h1
    {
        font-size: 1.1rem;
        font-weight: bold;
    }
    
    .contact-icons
    {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    
    .contact-icons > *
    {
        font-size: 2rem;
        color: var(--text-color);
        text-decoration: none;
        cursor: pointer;
        transition: all .3s;
    }
    
    .contact-icons > *:hover
    {
        color: var(--accent-color);
    }
    
    .tmdb
    {
        grid-area: area2;
        flex-direction: column;
        gap: 15px;
    }
    
    .tmdb img
    {
        width: 150px;
    }
}