main
{
    background-color: var(--primary-color);
    height: 100%;
}

.section
{
    position: relative;
    height: calc(100vh + 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 100px;
}

.list-header
{
    font-weight: bold;
    width: 1000px;
    height: 30px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.list-header h1
{
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: bold;
}

.movie-wrapper 
{
    margin: 10px;
}

.container
{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    min-height: 360px;
    max-height: 360px;
    width: 1000px;
    overflow-y: hidden;
    overflow-x: auto;
}

.movie-container
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    overflow: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.movie-container::-webkit-scrollbar 
{
  display: none;
}

.movie-container-wrapper
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    pointer-events: none;
}

.movie
{
    position: relative;
    width: 180px;
    height: 100%;
    max-height: 333px;
    background-color: var(--text-color);
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    margin: 0px 10px;
    cursor: pointer;
}

.movie-img
{
    width: 100%;
    height: 70%;
}

.movie-title
{
    font-size: .9rem;
    margin-left: 5px;
}

.movie-rating
{
    position: absolute;
    bottom: 1.5%;
    font-size: .9rem;
    margin-left: 5px;
}

#series
{
    background-color: var(--primary-hover);
}

.slide-right, .slide-left
{
    color: var(--accent-color);
    font-weight: bold;
    font-size: 3rem;
    cursor: pointer;
    z-index: 100;
    transition: all .3s;
    pointer-events: auto;
}

.slide-right:hover, .slide-left:hover
{
    color: var(--accent-strong);
}

/* Mobile */
@media screen and (max-width: 768px) 
{
    main
    {
        background-color: var(--primary-color);
        height: 100%;
        width: 100vw;
        padding-top: 130px;
    }

    .movie-wrapper 
    {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section
    {
        position: relative;
        height: calc(100vh + 125px);
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
    }

    .list-header
    {
        width: 100vw;
        height: 30px;
    }

    .list-header h1
    {
        font-size: 1.2rem;
        padding: 0px 5px;
    }

    .container, .movie-container
    {
        height: 356px;
        width: 95vw;
    }

    .movie
    {
        display: flex;
        flex-direction: column;
        width: 44vw;
        height: 300px;
        background-color: var(--text-color);
        flex-shrink: 0;
        border-radius: 10px;
        margin: 0px 8px;
    }

    .spacer
    {
        margin-top: 25px;
    }

    .movie-title
    {
        text-align: left;
        font-size: .9rem;
        height: 50px;
        width: 100%;
    }
}

/* Tablets */
@media screen and ((min-width: 769px) and (max-width: 1280px)) 
{
    main
    {
        background-color: var(--primary-color);
        height: 100%;
        width: 100vw;
    }

    .section
    {
        position: relative;
        height: 1080px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
    }

    .list-header
    {
        width: 900px;
        height: 70px;
    }

    .list-header h1
    {
        font-size: 1.2rem;
        padding: 0px 100px;
    }

    .container, .movie-container
    {
        height: 100%;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .movie
    {
        display: flex;
        flex-direction: column;
        width: 220px;
        height: 100%;
        background-color: var(--text-color);
        flex-shrink: 0;
        border-radius: 10px;
        margin: 0px 6px;
    }

    .spacer
    {
        margin-top: 25px;
    }

    .movie-title
    {
        text-align: left;
        font-size: .9rem;
        height: 50px;
        width: 100%;
    }
}

/* Big Desktop */
@media screen and (min-width: 1921px) 
{
    main
    {
        background-color: var(--primary-color);
        height: 100%;
    }
    
    .section
    {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .list-header
    {
        width: 1200px;
        height: 30px;
    }

    
    .movie-wrapper 
    {
        height: 40vh;
        margin: 10px;
        max-height: 900px;
    }
    
    .container
    {
        height: 100%;
        width: 1200px;
        max-height: 600px;
    }
    
    .movie-container
    {
        width: 1200px;
        max-height: 600px;
    }
    
    .movie
    {
        width: 8.6vw;
        max-width: 220px;
        height: 35vh;
        max-height: 600px;
    }
}